{% extends 'layout.html' %} 


{% block content %}
{% load static %}


  <header>
  </header>
    <main>
      <section class="container">
        <div class="photo">
          {% comment %} <img src="{% static 'portfolio/p.png' %}" alt="Leonardo Rodriguez"> {% endcomment %}
          
        </div>
    
        <div class="description">
          <h1><strong>Leonardo Rodriguez</strong></h1>
          <h3>Python Backend Developer</h3>
          <p>
            Mechatronic Engineer with more than 6 years of experience in various fields of mechatronics, with a strong passion for programming. I am currently seeking an opportunity to align my career focus with my passion for programming, allowing me to work in a field where I can fully utilize and develop my skills. I have a solid foundation in programming languages such as Python, Java, C/C++, JavaScript, as well as experience with frameworks like Django, Flask, and FastAPI. I am eager to contribute to a team and make a meaningful impact with my experience and enthusiasm for programming.
          </p>

          <div class="social-networks">
              
            <a href="https://www.linkedin.com/in/leonardo-rodriguez-16a941107/" style="text-decoration: none;" target="_blank">
            {% include 'partials/linkedin_logo.html' %}
            </a>

            <a href="https://github.com/Engleonardorm7" target="_blank" >
              {% include 'partials/git_logo.html' %}
            </a>  


          </div>

          <div class ="button">
              <button onclick="window.open('{% static 'portfolio/CV1.2.pdf' %}', '_blank')"
            class="download_button">
            Download CV
            </button>
          </div>
        </div>
      </section>
    </main>
  <div>
    
    
    <section class="project_container" id="section">
      <div class="project">
        <h3 >PROJECTS</h3>
        <p>
          {% comment %}  {% endcomment %}
        </p>
      </div>
      <div class="each-project">
        {% for project in projects %}
        {% comment %} <div class="card-project"> {% endcomment %}
          
          {% comment %} <div class="each-project"> {% endcomment %}
            
            <figure>
              <img src="{{project.image.gym_progression_yDQJr1E.png}}" alt="{{project.title}}"/>

              <div class="capa">
                <div class="card-description">
                  <h2>{{project.title }}</h2>
                  
                  <p>{{project.description}}</p>
                </div>
                  
                <div class="logos">
                  {% comment %} <figure> {% endcomment %}
                  {% if project.tools_box == "django" %}              
                    <a class="django" >
                      {% include 'partials/logo_django.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box == "html" %}              
                    <a class="html_logo" >
                      {% include 'partials/html_css_logo.html' %}
                    </a>
                  {% endif %}
                  
                  {% if project.tools_box == "fastAPI" %}              
                    <a class="fastAPI" >
                      {% include 'partials/fastAPI.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box == "Flask" %}              
                    <a class="flask" >
                      {% include 'partials/flask_logo.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box == "python" %}              
                    <a class="django" >
                      {% include 'partials/logo_python.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box == "javascript" %}              
                    <a class="django" >
                      {% include 'partials/logo_javascript.html' %}
                    </a>
                  {% endif %}

{% comment %} -----------------------toolbox2 {% endcomment %}

                  {% if project.tools_box2 == "django" %}              
                    <a class="django" >
                      {% include 'partials/logo_django.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box2 == "html" %}              
                    <a class="html_logo" >
                      {% include 'partials/html_css_logo.html' %}
                    </a>
                  {% endif %}
                  
                  {% if project.tools_box2 == "fastAPI" %}              
                    <a class="fastAPI" >
                      {% include 'partials/fastAPI.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box2 == "Flask" %}              
                    <a class="flask" >
                      {% include 'partials/flask_logo.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box2 == "python" %}              
                    <a class="python" >
                      {% include 'partials/logo_python.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box2 == "javascript" %}              
                    <a class="javascript" >
                      {% include 'partials/logo_js.html' %}
                    </a>
                  {% endif %}
                  {% comment %} _______________toolbox3___________ {% endcomment %}
                  {% if project.tools_box3 == "django" %}              
                    <a class="django" >
                      {% include 'partials/logo_django.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box3 == "html" %}              
                    <a class="html_logo" >
                      {% include 'partials/html_css_logo.html' %}
                    </a>
                  {% endif %}
                  
                  {% if project.tools_box3 == "fastAPI" %}              
                    <a class="fastAPI" >
                      {% include 'partials/fastAPI.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box3 == "Flask" %}              
                    <a class="flask" >
                      {% include 'partials/flask_logo.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box3 == "python" %}              
                    <a class="python" >
                      {% include 'partials/logo_python.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box3 == "javascript" %}              
                    <a class="javascript" >
                      {% include 'partials/logo_js.html' %}
                    </a>
                  {% endif %}

{% comment %} -----------------------toolbox4 {% endcomment %}

                  {% if project.tools_box4 == "django" %}              
                    <a class="django" >
                      {% include 'partials/logo_django.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box4 == "html" %}              
                    <a class="html_logo" >
                      {% include 'partials/html_css_logo.html' %}
                    </a>
                  {% endif %}
                  
                  {% if project.tools_box4 == "fastAPI" %}              
                    <a class="fastAPI" >
                      {% include 'partials/fastAPI.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box4 == "Flask" %}              
                    <a class="flask" >
                      {% include 'partials/flask_logo.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box4 == "python" %}              
                    <a class="python" >
                      {% include 'partials/logo_python.html' %}
                    </a>
                  {% endif %}
                  {% if project.tools_box4 == "javascript" %}              
                    <a class="javascript" >
                      {% include 'partials/logo_js.html' %}
                    </a>
                  {% endif %}




                  {% comment %} </figure> {% endcomment %}
                </div>
                  <div class="logo_git">
                    {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-5 btn-sm" target="_blank" >
                      {% include 'partials/git_logo2.html' %}
                    </a>
                    {% endif %}
                  </div>
              </div>
            </figure>
              
            
            
          {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        {% endfor %}
      
      
        </div>
      </div>
    </section>
  {% endblock content %}

