




{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="name-container">
           <a class="name" style="text-decoration: none; color: #444444;" href="#">
            <span>Leonardo Rodriguez</span>
        </a>
        </div>
        <div class="projects-container">
          <a class="projects" style="text-decoration: none; color: #444444;" href="#section" >
            <span>Projects</span>
          </a>
          
          {% comment %} <a style="text-decoration: none; color: black;" href="logo1"><img src="logo3"></a> {% endcomment %}
        </div>
        <div class="contact-container">
            <a class="contact" style="text-decoration: none; color: #444444;" href="mailto:tuemail@example.com">
                <span>Contact</span>
            </a>
        </div>
    </nav>
    

    
    {% block content %}
    
    {% endblock content %}
    

    
</body>
</html>