




{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
           <a style="text-decoration: none; color: black;" href="#">Leonardo Rodriguez</a>
         
        </div>
        <div class="navbar-right">
          <a style="text-decoration: none; color: black;" class="block py-2 pl-3 transition pr-4 text-gray-700 dark:text-gray-400 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 sm:p-0" href="#section" >Projects</a>
          <a style="text-decoration: none; color: black;" href="logo1">Contact</a>
          {% comment %} <a style="text-decoration: none; color: black;" href="logo1"><img src="logo3"></a> {% endcomment %}
        </div>
    </nav>
    

    
    {% block content %}
    
    {% endblock content %}
    

    
</body>
</html>