body {
  margin: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* background: linear-gradient(to bottom, #b33333, #ffffff); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.portfolio {
  flex: 1;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 245, 245);
  color: black;
  padding: 10px;
}

.name {
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.title {
  font-size: 2.5em;
  text-align: center;
}

.subtitle {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
}

.description {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  font-size: 1.5rem;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.icon {
  font-size: 50px;
  color: #333;

  text-decoration: none;
}

.cv-button {
  background: #494949;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  -webkit-text-fill-color: white;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  border-radius: 24px;
  z-index: 1;
}
.cv-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    red,
    blue,
    deeppink,
    blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 30s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.projects-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.brain {
}

.projects-section {
  text-align: center;
  margin-top: 50px;
}

.projects-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  max-width: 1100px;
}

.project-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.project-item {
  background-color: transparent;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: 100%;
  margin: 0 auto;
}

/* .project-item:hover {
  transform: scale(1.05);
} */

.project-image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: white;
  align-items: center;
}

.project-title {
  margin-top: 1px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  flex-direction: row-reverse;
  height: 500px;
}

.project-description {
  flex: 1;
  font-size: 1.5em;
  /* color: #666; */
  margin-right: 20px;
  width: 100%;
}
.project-description-container {
  margin-top: 50px;
  height: 80%;
}

.tools-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tool-icon {
  font-size: 24px;
  margin: 0 5px;
}

.scroll-button {
  position: absolute;
  top: 50%; /* Centrar verticalmente con respecto a las tarjetas */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.project-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.scroll-button.left {
  left: -50px;
}
.scroll-button.right {
  right: -50px;
}
.scroll-button svg {
  width: 70px;
  height: 70px;
  fill: #4504ae;
  transition: transform 0.3s ease;
}

.scroll-button:hover svg {
  transform: scale(1.2);
}
.projects-indicators {
  margin-top: 0px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.dot.active {
  background-color: #717171;
}

.dark-mode {
  /* background: linear-gradient(to bottom, #6a6a6a, #0b0b0b); */
  background: #010430;
  color: #bab4b4;
}
.dark-mode .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(195, 189, 189);
  padding: 10px;
}
.light-mode {
  /* background: linear-gradient(to bottom, #6f6d6d, #ffffff); */
  background: white;
  color: #666;
}

.light-mode .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding: 10px;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .project-item {
    flex: 0 0 80%;
  }
}
